estructura.dtd

<!ELEMENT plataformaStreaming (serie+, pelicula+)>

<!ELEMENT serie (titulo, temporadas, clasificacion)>
<!ATTLIST serie id CDATA #REQUIRED>

<!ELEMENT pelicula (titulo, duracion, clasificacion)>
<!ATTLIST pelicula id CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT temporadas (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT clasificacion (#PCDATA)>
